<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="head::header" ></head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                  <div class="layui-form-item">
                      <label class="layui-form-label">
                          <span class="x-red">*</span>仪器名
                      </label>
                      <div class="layui-input-inline">
                          <input type="text" name="name" required="" lay-verify="required"
                          autocomplete="off" class="layui-input">
                      </div>
                      <div class="layui-form-mid layui-word-aux">
                          <span class="x-red">*</span>仪器名称唯一
                      </div>
                  </div>
                  <div class="layui-form-item">
                      <label class="layui-form-label">
                          <span class="x-red">*</span>数量
                      </label>
                      <div class="layui-input-inline">
                          <input type="text" name="count" required="" lay-verify="required"
                                 autocomplete="off" class="layui-input">
                      </div>
                  </div>
                  <div class="layui-form-item">
                      <label for="L_repass" class="layui-form-label">
                      </label>
                      <button  class="layui-btn" lay-filter="addInstrument" lay-submit="">增加</button>
                  </div>
              </form>
            </div>
        </div>
        <script>layui.use(['form', 'layer'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer;
              	//监听提交
                form.on('submit(addInstrument)',
                function(data) {
                	console.log(data.field);
                    $.ajax({
                    	url:"addInstrument",
                    	data:{
                    		name:data.field.name,
                            count:data.field.count,
                            state:1
                    	},
                    	success:function(res){
                    		if(res.code == 0){
                    			layer.msg('已添加!',{icon:1,time:1000},function(){
		              				// 获得frame索引
			                        var index = parent.layer.getFrameIndex(window.name);
			                        //关闭当前frame
			                        parent.layer.close(index);
			                        parent.location.reload();
	              				});
                    		}else{
	              				layer.msg(res.msg,{icon:5,time:1000});
	              			}
                    	},
	              		error:function(err){
	              			layer.msg('添加失败!',{icon:5,time:1000});
	              		}
                    	
                    })
                    return false;
                });
        });
       	</script>
    </body>

</html>
